<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
    	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>KyungMoon Lee</title>
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/styles.css' %}">
        <script type="text/javascript" src="{% static 'javascripts/javascripts.js' %}"></script>
        <link rel="Shortcut Icon" href="/media/_3_jpeg.png">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84285868-1', 'auto');
  ga('send', 'pageview');

</script>
    </head>

    <body>
        <div id="header">
            <p style="font-size:80%;">'위대한 사람은 평론가가 아니다. 관중석에 앉아서 선수가 뭘 어찌했고 어떻게 하면 더 잘할 수 있었는지 지적하는 그들이 아니다.<br>
                영광은 먼지와 피와 땀으로 범벅이 된 채 경기장에 뛰고 있는 자의 몫이다. 앞서면 이길 것이요, 뒤지면 질 것이다.<br>
                그러나 실패하고 패배했다 해도 그는 담대하고 위대하게 진 것이다'<br>
                - 시어도어 루즈벨트, THE MAN IN THE ARENA, 23 April, 1910
            </p>
        </div>

        <div id="main">
            <table style="margin:auto; text-align:left;">
                <tr>
                    <td>
                        <a href="http://blog.leekyungmoon.com">
                            <button class="circle" style="background-image:url('/media/_3_jpeg.png');"></button>
                        </a>
                    </td>
                    <td>
                        <a href="https://www.instagram.com/kyungmoonee/">
                            <button class="small-circle" style="background-image:url('/media/instagram.png');"></button>
                        </a>
                    </td>
                    <td>
                        <a href="https://www.facebook.com/thenwasthetime">
                            <button class="small-circle" style="background-image:url('/media/facebook.png');"></button>
                        </a>
                    </td>
                    <td>
                        <a href="https://github.com/LeeKyungMoon">
                            <button class="small-circle" style="background-color:transparent; background-position: 0% 0%; background-image:url('/media/github2.png');"></button>
                        </a>
                    </td>
                    <td>
                        <a href="https://www.linkedin.com/in/kyungmoon-lee-a2922810b?trk=nav_responsive_tab_profile_pic">
                            <button class="small-circle" style="background-color:transparent; background-position: 0% 0%; border:none; background-image:url('/media/linkedin3.png');"></button>
                        </a>
                    </td>
                </tr>
            </table>
        </div>

        <div id="footer">
            <p>이경문</p>
            <p>1994.05.23</p>
        </div>

    </body>
</html>
